.Auth
{
    margin:20px auto;
    margin-left: 100%;
    width: 80%;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    box-sizing: border-box;
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

@media (min-width:600px)
{
    .Auth
    {
        width: 500px;
    }
}