.Input
{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.label
{
    text-align: left;
    align-self: flex-start;
    align-items: flex-start;
    font-size: larger;
}

.InputElement
{
    outline: none;
    border:1px solid #ccc;
    background-color: white;
    font:inherit;
    padding:10px 10px;
    display: block;
    width: 100%;
    border-radius: 5px;

}

.InputElement:focus
{
    border-color: #167bff;
    box-shadow: none;
}

.Invalid
{
    border: 1px solid red;
    background-color: rgb(243, 157, 148);
}