.App {
  align-items: center;
  justify-content: center;
  align-self: center;
}

.body,html{
  background-color: rgb(240, 240, 240);
}

.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
}